<h1><left>EN-BOT: Predicting whether a Block goes En-Bloc!</left></h1>
<h1><left>2 Scraping OneMapSG's API</left></h1>


<h4><left>by Samuel He</left></h4>

Help from:
- https://github.com/admond1994/onemap-API/blob/master/get_token_API.py

- API WRAPPER: https://github.com/methylDragon/onemapsg-api-client

-one maps main page: https://www.onemap.sg/main/v2/

In [471]:
import requests
import time
import pandas as pd
import numpy as np
from random import randint
from onemapsg import OneMapClient
from random import randint
from geopy.distance import lonlat, distance
from math import sin, cos, sqrt, atan2, radians

# UNCOMMENT TO INSTALL GEOPY
#!pip3 install --upgrade --target=/Users/samuelhe/opt/anaconda3/lib/python3.7/site-packages geopy

# UNCOMMENT TO INSTALL THE ONEMAPSG API WRAPPER
# !pip3 install --upgrade --target=/Users/samuelhe/opt/anaconda3/lib/python3.7/site-packages onemapsg

In [4]:
#READING IN CSVs
stand_blocks_clean = pd.read_csv("../data/stand_blocks_clean.csv")
demo_blocks_clean = pd.read_csv("../data/demo_blocks_clean.csv")

---
**Exploring the API** - We know that we can obtain location, postal code and long-lat data from the OneMapSG API. So, let's do that first.

In [6]:
#INPUT PASSWORD AND USERNAME
Client = OneMapClient("samuelhezhengbang@gmail.com", "Shisha600")

In [86]:
#WE'RE GOING TO START WITH DEMOLISHED BLOCKS FIRST AS I ASSUME THAT THAT'S GOING TO BE TOUGH!
demo_blocks_clean.head(2)

,year_completed,blk_no,street,bldg_contract_town,max_floor_lvl,1room_sold,2room_sold,3room_sold,4room_sold,5room_sold,exec_sold,total_dwelling_units,age_announced,cluster,num_of_blocks,is_demolished
0,1966.0,6,chai chee rd,bd,8.5,0.0,24.5,59.5,0.0,0.0,0.0,84.0,30.0,"['6', '7']",2.0,1
1,1966.0,7,chai chee rd,bd,8.5,0.0,24.5,59.5,0.0,0.0,0.0,84.0,30.0,"['6', '7']",2.0,1

In [7]:
#TRYING MY LUCK WITH GETTING LOCATIONS FOR OUR DEMOLISHED BLOCKS
#SOME DEMOLISHED BLOCKS HAVE REINCARNATED AS NEW BLOCKS! THAT'S GOOD!
pd.DataFrame(Client.search("519 WEST COAST ROAD")["results"])

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE
0,WEST COAST PRIDE,519,WEST COAST ROAD,WEST COAST PRIDE,519 WEST COAST ROAD WEST COAST PRIDE SINGAPORE...,120519,19769.6426204955,32220.4911064692,1.30766409641888,103.759364910368,103.759364910368

---
**Creating a function to extract Location Data** - With a convenient function, we can always return to this file with more data in the future. But for today, it'll help us get location data from both datasets.

In [430]:
#CREATING A FUNCTION TO EXTRACT LOCATION DETAILS FROM OneMapSG
def extract_address_data(ref_df):
    #CREATING VALUES FOR A SITUATION WHERE THERE IS NO LOCATION FOUND
    empty_col =[{'SEARCHVAL': "NaN",
 'BLK_NO': "NaN",
 'ROAD_NAME': "NaN",
 'BUILDING': "NaN",
 'ADDRESS': "NaN",
 'POSTAL': "NaN",
 'X': "NaN",
 'Y': "NaN",
 'LATITUDE': "NaN",
 'LONGITUDE': "NaN",
 'LONGTITUDE': "NaN"}]
    #CREATING COLUMNS FOR THE DATAFRAME
    api_cols = ['SEARCHVAL',
     'BLK_NO',
     'ROAD_NAME',
     'BUILDING',
     'ADDRESS',
     'POSTAL',
     'X',
     'Y',
     'LATITUDE',
     'LONGITUDE',
     'LONGTITUDE']
    #CREATING A DATAFRAME
    output_df = pd.DataFrame(columns = api_cols)
    #CREATING EMPTY LISTS TO NEST INCOMPLETE SEARCHES
    no_location = []
    no_street = []
    #FOR LOOP THROUGH EVERY ROW IN CHOSEN DATASET
    for row in range(ref_df.shape[0]):
        #CREATING QUERY STRINGS FOR THE API WRAPPER
        query_string_detailed = str(ref_df.iloc[row]["blk_no"] + " "+ (ref_df.iloc[row]["street"]).upper())
        query_string_street =  str((ref_df.iloc[row]["street"]).upper())
        
        #THESE ARE EXCEPTIONS. 
        #THAT IS: THESE STREETS DON'T EXIST ANYMORE
        #PLS TUNE THESE FOR EVERY DATASET
        if query_string_street == "SILAT WALK":
            query_string_street = "SILAT AVE"
        if query_string_street == "NILE RD":
            query_string_street = "HAVELOCK VIEW"
        
        
        #CONDITIONS IF SEARCH IS UNFUFILLED
        if Client.search(query_string_detailed)["results"]==[]:
            if Client.search(query_string_street)["results"]==[]:
                #INPUT A ROW OF NaNs SHOULD WE NOT FIND ANYTHING
                output_df=output_df.append(empty_col)
                no_location.append(query_string_street)
            else: 
                #"PEPPER" SCRIPT: TO AVOID ONLY SHOWING THE SAME BLOCK WE ARE GOING TO RANDOMISE
                if (len(Client.search(query_string_street)["results"]))>1:
                    random_pick = randint(0, (len(Client.search(query_string_street)["results"])-1) )
                else:
                    random_pick = 0
                #COMPROMISE MADE: WE CAN'T FIND THE BLOCK, BUT WE'LL PUT GENERAL LOCATION DETAILS
                output_df=output_df.append((Client.search(query_string_street)["results"][random_pick]), ignore_index=True)
                no_street.append(query_string_detailed)
        
        #BEST CASE SCENARIO. BLOCK EXISTS ON OneMapSG
        else:
            output_df=output_df.append((Client.search(query_string_detailed)["results"][0]),ignore_index=True )
    #PRINTING STATUS REPORTS        
    print("Location not found:{}\n".format(no_location))
    print("Specific Location not found, General Location found:{}".format(no_street))
    if output_df.shape[0] == ref_df.shape[0]:
        print("\n\nWe managed to get entries for every row in your reference dataset")
    else:
        print("Opps, something went wrong :(")
    #RETURN A DATAFRAME
    return output_df

In [433]:
#CALLING THE FUNCTION ON demo_blocks_clean
demo_locations = extract_address_data(ref_df=demo_blocks_clean)
%time
demo_locations.head(20)

Location not found:[]

Specific Location not found, General Location found:['6 CHAI CHEE RD', '7 CHAI CHEE RD', '89 TOA PAYOH LORONG 2', '454 ANG MO KIO AVE 10', '455 ANG MO KIO AVE 10', '51 NILE RD', '53 NILE RD', '54 NILE RD', '580 ANG MO KIO AVE 3', '581 ANG MO KIO AVE 3', '582 ANG MO KIO AVE 3', '24 DOVER CRES', '3 SYED ALWI RD', '4 SYED ALWI RD', '5 SYED ALWI RD', '20 UPPER BOON KENG RD', '54 SIMS DR', '56 SIMS DR', '57 SIMS DR', '59 SIMS DR', '62 SIMS DR', '5 YUNG PING RD', '6 YUNG PING RD', '7 YUNG PING RD', '8 YUNG PING RD', '9 YUNG PING RD', '10 YUNG PING RD', '182 BOON LAY DR', '184 BOON LAY DR', '220 BOON LAY AVE', '88 ZION RD', '89 ZION RD', '90 ZION RD', '91 ZION RD', '92 ZION RD', '246 ANG MO KIO AVE 2', '247 ANG MO KIO AVE 2', '248 ANG MO KIO AVE 2', '249 ANG MO KIO AVE 2', '250 ANG MO KIO AVE 2', '251 ANG MO KIO AVE 2', '252 ANG MO KIO AVE 2', '9 GHIM MOH RD', '10 GHIM MOH RD', '9a GHIM MOH RD', '12a GHIM MOH RD', '94 HENDERSON RD', '17 SILAT WALK', '18 SILAT WALK', '19 SILAT WALK', '22 SILAT WALK', '23 SILAT WALK', '24 SILAT WALK', '25 SILAT WALK', '26 SILAT WALK', '27 SILAT WALK', '28 SILAT WALK', '29 SILAT WALK', '30 SILAT WALK', '31 SILAT WALK', '401 CLEMENTI AVE 1', '402 CLEMENTI AVE 1', '403 CLEMENTI AVE 1', '404 CLEMENTI AVE 1', '407 CLEMENTI AVE 1', '408 CLEMENTI AVE 1', '409 CLEMENTI AVE 1', '2 TEBAN GARDENS RD', '3 TEBAN GARDENS RD', '4 TEBAN GARDENS RD', '5 TEBAN GARDENS RD', '6 TEBAN GARDENS RD', '7 TEBAN GARDENS RD', '8 TEBAN GARDENS RD', '9 TEBAN GARDENS RD', '10 TEBAN GARDENS RD', '11 TEBAN GARDENS RD', '74 COMMONWEALTH DR', '75 COMMONWEALTH DR', '76 COMMONWEALTH DR', '77 COMMONWEALTH DR', '78 COMMONWEALTH DR', '79 COMMONWEALTH DR', '80 COMMONWEALTH DR', '110 BUKIT MERAH VIEW', '111 BUKIT MERAH VIEW', '113 BUKIT MERAH VIEW', '114 BUKIT MERAH VIEW', '167 BOON LAY DR', '168 BOON LAY DR', '169 BOON LAY DR', '170 BOON LAY DR', '171 BOON LAY DR', '172 BOON LAY DR', '1a WOODLANDS CENTRE RD', '2a WOODLANDS CENTRE RD', '55 TANGLIN HALT RD', '56 TANGLIN HALT RD', '58 TANGLIN HALT RD', '59 TANGLIN HALT RD', '60 TANGLIN HALT RD', '62 TANGLIN HALT RD', '63 TANGLIN HALT RD', '64 TANGLIN HALT RD', '65 TANGLIN HALT RD', '66 TANGLIN HALT RD']


We managed to get entries for every row in your reference dataset
CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 5.25 µs

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE
0,MULTI STOREY CAR PARK,21A,CHAI CHEE ROAD,MULTI STOREY CAR PARK,21A CHAI CHEE ROAD MULTI STOREY CAR PARK SINGA...,462021,37900.9292850792,34300.400979310296,1.3264735546242,103.92228378555099,103.92228378555099
1,25A CHAI CHEE ROAD SINGAPORE 461025,25A,CHAI CHEE ROAD,NIL,25A CHAI CHEE ROAD SINGAPORE 461025,461025,38108.5927455379,33948.3426193967,1.3232895991921398,103.924149636605,103.924149636605
2,CENTRAL HORIZON,79A,TOA PAYOH CENTRAL,CENTRAL HORIZON,79A TOA PAYOH CENTRAL CENTRAL HORIZON SINGAPOR...,311079,29585.5544920852,35191.2113491371,1.33453129537677,103.84756569582198,103.84756569582198
3,OCBC TOA PAYOH LORONG 2 - ESSO STATION,399,LORONG 2 TOA PAYOH,OCBC TOA PAYOH LORONG 2 - ESSO STATION,399 LORONG 2 TOA PAYOH OCBC TOA PAYOH LORONG 2...,319640,29468.486587709704,35385.3551001139,1.33628706847823,103.84651378290701,103.84651378290701
4,444A ANG MO KIO AVENUE 10 SINGAPORE 561444,444A,ANG MO KIO AVENUE 10,NIL,444A ANG MO KIO AVENUE 10 SINGAPORE 561444,561444,30376.039753265697,38767.5208488069,1.36687411249442,103.854668941219,103.854668941219
5,456A ANG MO KIO AVENUE 10 SINGAPORE 561456,456A,ANG MO KIO AVENUE 10,NIL,456A ANG MO KIO AVENUE 10 SINGAPORE 561456,561456,30763.3510522069,38866.8321010713,1.36777221427589,103.85814921044,103.85814921044
6,KIM TIAN GREEN,126,KIM TIAN ROAD,KIM TIAN GREEN,126 KIM TIAN ROAD KIM TIAN GREEN SINGAPORE 160126,160126,27571.686393452797,29441.687708411402,1.28253466931817,103.82947001504,103.82947001504
7,KIM TIAN GREEN,127,KIM TIAN ROAD,KIM TIAN GREEN,127 KIM TIAN ROAD KIM TIAN GREEN SINGAPORE 160127,160127,27551.9428600855,29367.244117014103,1.28186142731103,103.829292612773,103.829292612773
8,HAVELOCK VIEW,,NIL,HAVELOCK VIEW,HAVELOCK VIEW,NIL,27455.5281327926,30249.6430747025,1.2898415322444898,103.828426273952,103.828426273952
9,HAVELOCK VIEW,51,HAVELOCK ROAD,HAVELOCK VIEW,51 HAVELOCK ROAD HAVELOCK VIEW SINGAPORE 161051,161051,27372.4431228479,30261.215160505802,1.2899461845645601,103.82767972048201,103.82767972048201
10,HAVELOCK VIEW,51,HAVELOCK ROAD,HAVELOCK VIEW,51 HAVELOCK ROAD HAVELOCK VIEW SINGAPORE 161051,161051,27372.4431228479,30261.215160505802,1.2899461845645601,103.82767972048201,103.82767972048201
11,126A ANG MO KIO AVENUE 3 SINGAPORE 561126,126A,ANG MO KIO AVENUE 3,NIL,126A ANG MO KIO AVENUE 3 SINGAPORE 561126,561126,29094.9653216144,39280.4298120793,1.37151275308972,103.84315761947701,103.84315761947701
12,245 ANG MO KIO AVENUE 3 SINGAPORE 560245,245,ANG MO KIO AVENUE 3,NIL,245 ANG MO KIO AVENUE 3 SINGAPORE 560245,560245,28159.0034135086,38857.4022318162,1.3676870625919098,103.83474733510201,103.83474733510201
13,203A ANG MO KIO AVENUE 3 SINGAPORE 561203,203A,ANG MO KIO AVENUE 3,NIL,203A ANG MO KIO AVENUE 3 SINGAPORE 561203,561203,29255.118580895498,38846.4430726841,1.3675879256949197,103.84459669185699,103.84459669185699
14,DOVER GARDENS,28,DOVER CRESCENT,DOVER GARDENS,28 DOVER CRESCENT DOVER GARDENS SINGAPORE 130028,130028,22255.013474157997,31899.703266428798,1.30476356767422,103.78169719934799,103.78169719934799
15,DOVER GARDENS,28,DOVER CRESCENT,DOVER GARDENS,28 DOVER CRESCENT DOVER GARDENS SINGAPORE 130028,130028,22255.013474157997,31899.703266428798,1.30476356767422,103.78169719934799,103.78169719934799
16,62 SYED ALWI ROAD SINGAPORE 207641,62,SYED ALWI ROAD,NIL,62 SYED ALWI ROAD SINGAPORE 207641,207641,30703.5637633502,32211.2552852575,1.3075815494476102,103.85761138850401,103.85761138850401
17,69 SYED ALWI ROAD SINGAPORE 207648,69,SYED ALWI ROAD,NIL,69 SYED ALWI ROAD SINGAPORE 207648,207648,30671.5721693002,32240.672466220298,1.30784759081937,103.857323931322,103.857323931322
18,66 SYED ALWI ROAD SINGAPORE 207645,66,SYED ALWI ROAD,NIL,66 SYED ALWI ROAD SINGAPORE 207645,207645,30683.542581768703,32229.1085830424,1.30774301010899,103.85743149019301,103.85743149019301
19,KALLANG HEIGHTS,3C,UPPER BOON KENG ROAD,KALLANG HEIGHTS,3C UPPER BOON KENG ROAD KALLANG HEIGHTS SINGAP...,383003,32426.6093560904,32898.1284255646,1.31379318761444,103.87309387056,103.87309387056

In [434]:
demo_locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SEARCHVAL   175 non-null    object
 1   BLK_NO      175 non-null    object
 2   ROAD_NAME   175 non-null    object
 3   BUILDING    175 non-null    object
 4   ADDRESS     175 non-null    object
 5   POSTAL      175 non-null    object
 6   X           175 non-null    object
 7   Y           175 non-null    object
 8   LATITUDE    175 non-null    object
 9   LONGITUDE   175 non-null    object
 10  LONGTITUDE  175 non-null    object
dtypes: object(11)
memory usage: 15.2+ KB

In [465]:
#CONCAT demo_locations TO demo_blocks_clean
demo_blocks_plus = demo_blocks_clean.join(demo_locations)
demo_blocks_plus

,year_completed,blk_no,street,bldg_contract_town,max_floor_lvl,1room_sold,2room_sold,3room_sold,4room_sold,5room_sold,...,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE
0,1966.0,6,chai chee rd,bd,8.50,0.0,24.5,59.500,0.0,0.0,...,21A,CHAI CHEE ROAD,MULTI STOREY CAR PARK,21A CHAI CHEE ROAD MULTI STOREY CAR PARK SINGA...,462021,37900.9292850792,34300.400979310296,1.3264735546242,103.92228378555099,103.92228378555099
1,1966.0,7,chai chee rd,bd,8.50,0.0,24.5,59.500,0.0,0.0,...,25A,CHAI CHEE ROAD,NIL,25A CHAI CHEE ROAD SINGAPORE 461025,461025,38108.5927455379,33948.3426193967,1.3232895991921398,103.924149636605,103.924149636605
2,1971.0,79,toa payoh central,tp,10.00,0.0,0.0,374.000,0.0,0.0,...,79A,TOA PAYOH CENTRAL,CENTRAL HORIZON,79A TOA PAYOH CENTRAL CENTRAL HORIZON SINGAPOR...,311079,29585.5544920852,35191.2113491371,1.33453129537677,103.84756569582198,103.84756569582198
3,1973.0,89,toa payoh lorong 2,tp,10.00,0.0,0.0,198.000,0.0,0.0,...,399,LORONG 2 TOA PAYOH,OCBC TOA PAYOH LORONG 2 - ESSO STATION,399 LORONG 2 TOA PAYOH OCBC TOA PAYOH LORONG 2...,319640,29468.486587709704,35385.3551001139,1.33628706847823,103.84651378290701,103.84651378290701
4,1979.0,454,ang mo kio ave 10,amk,12.00,0.0,0.0,121.000,22.0,0.0,...,444A,ANG MO KIO AVENUE 10,NIL,444A ANG MO KIO AVENUE 10 SINGAPORE 561444,561444,30376.039753265697,38767.5208488069,1.36687411249442,103.854668941219,103.854668941219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,1979.0,516,west coast rd,cl,9.33,0.0,0.0,105.375,17.5,0.5,...,516,WEST COAST ROAD,WEST COAST PRIDE,516 WEST COAST ROAD WEST COAST PRIDE SINGAPORE...,120516,19889.9104561089,32276.1648552679,1.3081676215758402,103.76044555885599,103.76044555885599
171,1979.0,517,west coast rd,cl,9.33,0.0,0.0,105.375,17.5,0.5,...,517,WEST COAST ROAD,WEST COAST PRIDE,517 WEST COAST ROAD WEST COAST PRIDE SINGAPORE...,120517,19857.8252129173,32199.7830535341,1.3074768436116,103.760157277816,103.760157277816
172,1979.0,518,west coast rd,cl,9.33,0.0,0.0,105.375,17.5,0.5,...,518,WEST COAST ROAD,WEST COAST PRIDE,518 WEST COAST ROAD WEST COAST PRIDE SINGAPORE...,120518,19722.7088730671,32281.6959963441,1.30821759885498,103.758943172303,103.758943172303
173,1979.0,519,west coast rd,cl,9.33,0.0,0.0,105.375,17.5,0.5,...,519,WEST COAST ROAD,WEST COAST PRIDE,519 WEST COAST ROAD WEST COAST PRIDE SINGAPORE...,120519,19769.6426204955,32220.4911064692,1.30766409641888,103.759364910368,103.759364910368
174,1979.0,520,west coast rd,cl,9.33,0.0,0.0,105.375,17.5,0.5,...,520,WEST COAST ROAD,WEST COAST PRIDE,520 WEST COAST ROAD WEST COAST PRIDE SINGAPORE...,120520,19798.9639427541,32163.39455056,1.30714774352278,103.759628391282,103.759628391282

In [449]:
#WE RAN THE FUNCTION ONCE AND FOUND THAT OneMapSG DOES NOT ABBREVIATE "SAINT"
#SO, WE ARE REPLACING "ST. GEORGE" WITH "SAINT GEORGE"
stand_blocks_clean["street"].replace({"st\. george's": "saint george's"}, regex=True, inplace=True)

In [456]:
#CHECKING IF ALL IS WELL
stand_blocks_clean[["blk_no","street"]][stand_blocks_clean["street"].str.contains("saint george's")]

     blk_no               street
9028      5  saint george's lane
9029      6  saint george's lane
9030      7  saint george's lane
9031      8  saint george's lane
9032     4a  saint george's lane
9033     4b  saint george's lane
9034     4c  saint george's lane
9035     26  saint george's lane
9036    26a  saint george's lane
9037    26b  saint george's lane
9038     24  saint george's lane
9039     25  saint george's lane
9040    25a  saint george's lane
9041      1    saint george's rd
9042      2    saint george's rd
9043      3    saint george's rd
9044     10    saint george's rd
9045     11    saint george's rd
9046     12    saint george's rd
9047     13    saint george's rd
9048     14    saint george's rd
9049     15    saint george's rd
9050     16    saint george's rd
9051     17    saint george's rd
9052     18    saint george's rd
9053     19    saint george's rd
9054     20    saint george's rd
9055     21    saint george's rd
9056     22    saint george's rd
9057     23    saint george's rd
9058      9    saint george's rd
9059    18a    saint george's rd

In [452]:
#CALLING THE FUNCTION ON stand_blocks_clean
stand_locations = extract_address_data(ref_df=stand_blocks_clean)
%time
stand_locations.head(20)

Location not found:[]

Specific Location not found, General Location found:[]


We managed to get entries for every row in your reference dataset
CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 4.77 µs

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE
0,SUN BLISS,356A,ADMIRALTY DRIVE,SUN BLISS,356A ADMIRALTY DRIVE SUN BLISS SINGAPORE 751356,751356,26167.574333265402,47897.384261574596,1.44944134467679,103.816852385344,103.816852385344
1,SUN BLISS,356B,ADMIRALTY DRIVE,SUN BLISS,356B ADMIRALTY DRIVE SUN BLISS SINGAPORE 752356,752356,26225.8152308343,47873.8698217236,1.44922869240594,103.81737574003,103.81737574003
2,SUN BLISS,356C,ADMIRALTY DRIVE,SUN BLISS,356C ADMIRALTY DRIVE SUN BLISS SINGAPORE 753356,753356,26272.429681302,47876.4700836688,1.4492522111598602,103.81779461767799,103.81779461767799
3,SUN BLISS,357,ADMIRALTY DRIVE,SUN BLISS,357 ADMIRALTY DRIVE SUN BLISS SINGAPORE 750357,750357,26121.134952815297,47963.1423037034,1.4500360333956,103.816435076271,103.816435076271
4,SUN BLISS,357A,ADMIRALTY DRIVE,SUN BLISS,357A ADMIRALTY DRIVE SUN BLISS SINGAPORE 751357,751357,26184.3662842,47964.0220426507,1.45004399363067,103.81700327363899,103.81700327363899
5,SUN BLISS,357B,ADMIRALTY DRIVE,SUN BLISS,357B ADMIRALTY DRIVE SUN BLISS SINGAPORE 752357,752357,26219.1791267442,47985.881247542806,1.4502416825774598,103.81731610082899,103.81731610082899
6,SUN BLISS,357C,ADMIRALTY DRIVE,SUN BLISS,357C ADMIRALTY DRIVE SUN BLISS SINGAPORE 753357,753357,26250.6655178778,47940.294576730594,1.4498294153045201,103.817599040753,103.817599040753
7,MULTI STOREY CAR PARK,358A,ADMIRALTY DRIVE,MULTI STOREY CAR PARK,358A ADMIRALTY DRIVE MULTI STOREY CAR PARK SIN...,751358,26064.608191699703,47830.43105784059,1.4488358372896102,103.815927135351,103.815927135351
8,SUN BLISS,359,ADMIRALTY DRIVE,SUN BLISS,359 ADMIRALTY DRIVE SUN BLISS SINGAPORE 750359,750359,26057.7134174211,47926.8921556845,1.44970819589159,103.81586517218399,103.81586517218399
9,SUN BLISS,359A,ADMIRALTY DRIVE,SUN BLISS,359A ADMIRALTY DRIVE SUN BLISS SINGAPORE 751359,751359,26022.068114520098,47921.9144344218,1.4496631766820902,103.815544863508,103.815544863508
10,359B ADMIRALTY DRIVE SINGAPORE 752359,359B,ADMIRALTY DRIVE,NIL,359B ADMIRALTY DRIVE SINGAPORE 752359,752359,25970.7966320775,47918.47357003389,1.44963205506729,103.815084137742,103.815084137742
11,SUN BLISS,359C,ADMIRALTY DRIVE,SUN BLISS,359C ADMIRALTY DRIVE SUN BLISS SINGAPORE 753359,753359,25929.591251908798,47862.399285007305,1.44912493660074,103.814713869962,103.814713869962
12,SUN BLISS,360A,ADMIRALTY DRIVE,SUN BLISS,360A ADMIRALTY DRIVE SUN BLISS SINGAPORE 751360,751360,26055.8547210768,47871.064282313,1.4492033087830098,103.815848473794,103.815848473794
13,SUN BLISS,360B,ADMIRALTY DRIVE,SUN BLISS,360B ADMIRALTY DRIVE SUN BLISS SINGAPORE 752360,752360,25987.2638378153,47819.645334253095,1.44873828964853,103.815232119298,103.815232119298
14,SUN BLISS,360C,ADMIRALTY DRIVE,SUN BLISS,360C ADMIRALTY DRIVE SUN BLISS SINGAPORE 753360,753360,25927.1783487825,47812.64014237,1.4486749328363202,103.814692191276,103.814692191276
15,BLUE RIVERVIEW,467B,ADMIRALTY DRIVE,BLUE RIVERVIEW,467B ADMIRALTY DRIVE BLUE RIVERVIEW SINGAPORE ...,752467,25808.9582028035,48085.380040234006,1.45114148417527,103.813629843094,103.813629843094
16,BLUE RIVERVIEW,468A,ADMIRALTY DRIVE,BLUE RIVERVIEW,468A ADMIRALTY DRIVE BLUE RIVERVIEW SINGAPORE ...,751468,25820.0215140674,48015.9199210163,1.4505133130081898,103.813729263582,103.813729263582
17,BLUE RIVERVIEW,468B,ADMIRALTY DRIVE,BLUE RIVERVIEW,468B ADMIRALTY DRIVE BLUE RIVERVIEW SINGAPORE ...,752468,25862.491066845098,47960.1127509456,1.4500086165651598,103.81411089977301,103.81411089977301
18,BLUE RIVERVIEW,468C,ADMIRALTY DRIVE,BLUE RIVERVIEW,468C ADMIRALTY DRIVE BLUE RIVERVIEW SINGAPORE ...,753468,25947.8301032688,47993.3443637528,1.45030915760097,103.814877754821,103.814877754821
19,BLUE RIVERVIEW,468D,ADMIRALTY DRIVE,BLUE RIVERVIEW,468D ADMIRALTY DRIVE BLUE RIVERVIEW SINGAPORE ...,754468,25880.5833606282,48051.0033290666,1.45083059926033,103.81427347043801,103.81427347043801

In [466]:
#CONCAT stand_locations TO stand_blocks_clean
stand_blocks_plus = stand_blocks_clean.join(stand_locations)
stand_blocks_plus

,year_completed,blk_no,street,bldg_contract_town,max_floor_lvl,1room_sold,2room_sold,3room_sold,4room_sold,5room_sold,...,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE
0,1999.0,356a,admiralty dr,sb,16.0,0.0,0.0,0.0,57.0,28.0,...,356A,ADMIRALTY DRIVE,SUN BLISS,356A ADMIRALTY DRIVE SUN BLISS SINGAPORE 751356,751356,26167.574333265402,47897.384261574596,1.44944134467679,103.816852385344,103.816852385344
1,1999.0,356b,admiralty dr,sb,16.0,0.0,0.0,0.0,32.0,55.0,...,356B,ADMIRALTY DRIVE,SUN BLISS,356B ADMIRALTY DRIVE SUN BLISS SINGAPORE 752356,752356,26225.8152308343,47873.8698217236,1.44922869240594,103.81737574003,103.81737574003
2,1999.0,356c,admiralty dr,sb,16.0,0.0,0.0,0.0,33.0,56.0,...,356C,ADMIRALTY DRIVE,SUN BLISS,356C ADMIRALTY DRIVE SUN BLISS SINGAPORE 753356,753356,26272.429681302,47876.4700836688,1.4492522111598602,103.81779461767799,103.81779461767799
3,1999.0,357,admiralty dr,sb,16.0,0.0,0.0,0.0,60.0,29.0,...,357,ADMIRALTY DRIVE,SUN BLISS,357 ADMIRALTY DRIVE SUN BLISS SINGAPORE 750357,750357,26121.134952815297,47963.1423037034,1.4500360333956,103.816435076271,103.816435076271
4,1999.0,357a,admiralty dr,sb,16.0,0.0,0.0,0.0,32.0,55.0,...,357A,ADMIRALTY DRIVE,SUN BLISS,357A ADMIRALTY DRIVE SUN BLISS SINGAPORE 751357,751357,26184.3662842,47964.0220426507,1.45004399363067,103.81700327363899,103.81700327363899
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12195,1999.0,182,yung sheng rd,jw,18.0,0.0,0.0,0.0,51.0,34.0,...,182,YUNG SHENG ROAD,CORPORATION SPRING,182 YUNG SHENG ROAD CORPORATION SPRING SINGAPO...,610182,15667.397785936499,35098.6014890056,1.33369129501338,103.72250317842199,103.72250317842199
12196,1999.0,183,yung sheng rd,jw,18.0,0.0,0.0,0.0,51.0,34.0,...,183,YUNG SHENG ROAD,CORPORATION SPRING,183 YUNG SHENG ROAD CORPORATION SPRING SINGAPO...,610183,15687.509832005,35048.6628874931,1.33323967703012,103.722683916463,103.722683916463
12197,1999.0,184,yung sheng rd,jw,18.0,0.0,0.0,0.0,68.0,51.0,...,184,YUNG SHENG ROAD,CORPORATION SPRING,184 YUNG SHENG ROAD CORPORATION SPRING SINGAPO...,610184,15643.517133751,35057.7015127912,1.33332140109048,103.72228861411301,103.72228861411301
12198,2000.0,182a,yung sheng rd,jw,1.0,0.0,0.0,0.0,0.0,0.0,...,182A,YUNG SHENG ROAD,CORPORATION SPRING,182A YUNG SHENG ROAD CORPORATION SPRING SINGAP...,611182,15686.7984133158,35082.512209313,1.33354579743647,103.722677510304,103.722677510304
12199,1974.0,87,zion rd,bm,25.0,0.0,0.0,0.0,0.0,96.0,...,87,ZION ROAD,HDB-BUKIT MERAH,87 ZION ROAD HDB-BUKIT MERAH SINGAPORE 160087,160087,27920.955558667003,30340.1230070889,1.2906598056265102,103.832608331993,103.832608331993

In [486]:
#SAVING THE CREATING DATAFRAME TO A CSV FILE
#COMMENTING OUT THE CODE TO PREVENT DOUBLE SAVES.
#stand_blocks_plus.to_csv('../data/stand_blocks_latlon.csv', index = False)
#demo_blocks_plus.to_csv('../data/demo_blocks_latlon.csv', index = False)

---
**Creating Distance Columns** - Distance to Airbases, Distance to Airport and airbases, Planning Area, Distance to Nearest MRT, height building limits

In [483]:
here = (1,2)
here[1]

2

In [485]:

def calculate_dist(loc_latlon, target_latlon):

    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(loc_latlon[0])
    lon1 = radians(loc_latlon[1])
    lat2 = radians(target_latlon[0])
    lon2 = radians(target_latlon[1])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c

    return distance
    #print("Should be:", 278.546, "km")

In [476]:
#TESTING 
newport_ri_xy = (-71.312796, 41.49008) # (latitude, longitude) or (y,x)don't confuse
cleveland_oh_xy = (-81.695391, 41.499498)
print(distance(lonlat(*newport_ri_xy), lonlat(*cleveland_oh_xy)).kilometers)

866.4554329098687